# Enviroment variables for the project

# Server configuration
SERVER_PORT=server_port
NODE_ENV=evironment
API_VERSION=write_api_version

# Database configuration
MONGODB_URI=mongodb_url
DB_NAME=database_name

# JWT configuration 
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret
ACCESS_TOKEN_EXPIRY=write_access_token_expiry
REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret
REFRESH_TOKEN_EXPIRY=write_refresh_token_expiry

# CORS configuration
CORS_ORIGIN=your_cors_origin

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret